.tile {
  width: 38px;
  height: 56px;
  border: 0;
}

.editor-div {
  outline: 2px solid black;
  padding: 5px;
}

.tile-last-drawn {
  margin-left: 15px;
}

.tile-focused {
  position: relative;
  top: -3px;
}

.tile-useless {
  filter: brightness(50%);
}
