.tile {
  width: 44px;
  height: 65px;
  border: 0;
}

.editor-div {
  outline: 2px solid black;
  padding: 5px;
}

.tile-last-drawn {
  margin-left: 15px;
}

.tile-focused {
  filter: brightness(50%);
}
